body {
    font-family: 'Rubik', sans-serif;
    background-color: #dbdfdb;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.btn-secondary {

    float: right;
}

.box {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#stock {
    margin-top: 1%;
}


#toggleTransactions {
    color: #2b5f3e;
}


#logo {
    color: #499f68;
    width: 90%;
    text-align: center;
    margin: auto;
    font-weight: 700;
    line-height: 30px;
    margin-top: 20px;
    justify-content: center;
}

#logoText {
    margin-top: auto;
    font-family: 'Rubik Mono One', monospace;
    margin-right: 10px;
    /* Adjust the margin as needed for spacing */
    font-weight: 600;

}


#logoImg {
    width: 3%;
}

@media only screen and (max-width: 1200px) {
    #logoImg {
        width: 6%;
    }
}

h3,
h4 {
    font-family: 'Fira Code', monospace;
    font-weight: bolder;
}



#stock {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}



#stock th, #stock td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

#stock th {
    background-color: #e0e0e0;
}

#stock tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row color */
    transition: background-color 0.3s ease;
}

#stock tbody tr:hover {
    background-color: #f0f0f0; /* Hover color */
}
